# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual Environment
venv/
.env
.venv
ENV/
.flask-venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Model files
*.h5
*.keras
*.model

# Logs
logs/
*.log

# Dataset
dataset/
data/
kaggle/
logs*/
shared_volume/

# OS-specific
.DS_Store
Thumbs.db

Figaro/
JMeter/
